Repository pckv/kompisapp, pull requests merged in 2019-11, with the labels that each got.

#4 Added README with codacy badge
  README.md
Labels: project

#20 Implement welcome screen for login and sign up form
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/me/pckv/kompisapp/Endpoints.java
  app/src/main/java/me/pckv/kompisapp/MainActivity.java
  app/src/main/java/me/pckv/kompisapp/data/CreateUserDataSource.java
  app/src/main/java/me/pckv/kompisapp/data/DatalessResult.java
  app/src/main/java/me/pckv/kompisapp/data/LoginDataSource.java
  app/src/main/java/me/pckv/kompisapp/data/LoginRepository.java
  app/src/main/java/me/pckv/kompisapp/data/Result.java
  app/src/main/java/me/pckv/kompisapp/data/model/CreateUser.java
  app/src/main/java/me/pckv/kompisapp/data/model/Listing.java
  app/src/main/java/me/pckv/kompisapp/data/model/LoggedInUser.java
  app/src/main/java/me/pckv/kompisapp/data/model/LoginUser.java
  app/src/main/java/me/pckv/kompisapp/data/model/User.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserFormState.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserResult.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserViewModelFactory.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoggedInUserView.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginFormState.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginResult.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginViewModelFactory.java
  app/src/main/res/layout/activity_create_user.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/network_security_config.xml
Labels: activity, layout

#21 Change to using a single repository
  app/src/main/java/me/pckv/kompisapp/data/CreateUserDataSource.java
  app/src/main/java/me/pckv/kompisapp/data/UsersDataSource.java
  app/src/main/java/me/pckv/kompisapp/data/UsersRepository.java
  app/src/main/java/me/pckv/kompisapp/data/model/LoggedInUser.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserViewModelFactory.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginViewModelFactory.java
Labels: refactor

#22 Implement create listing layout and activity
  app/src/main/AndroidManifest.xml
  app/src/main/java/me/pckv/kompisapp/MainActivity.java
  app/src/main/java/me/pckv/kompisapp/data/ListingDataSource.java
  app/src/main/java/me/pckv/kompisapp/data/ListingRepository.java
  app/src/main/java/me/pckv/kompisapp/data/UsersRepository.java
  app/src/main/java/me/pckv/kompisapp/data/model/CreateListing.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingFormState.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingResult.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingViewModelFactory.java
  app/src/main/res/layout/activity_create_listing.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/values/strings.xml
Labels: activity, layout

#23 Implement listings view using RecyclerViewAdapter
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/me/pckv/kompisapp/data/ListingDataSource.java
  app/src/main/java/me/pckv/kompisapp/data/ListingRepository.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingRecyclerViewAdapter.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsResult.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsViewModelFactory.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginActivity.java
  app/src/main/res/layout/activity_listings.xml
  app/src/main/res/layout/content_listings.xml
  app/src/main/res/layout/fragment_listing.xml
  app/src/main/res/menu/menu_listings.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
Labels: activity, layout

#24 Implement view of single listing
  app/src/main/AndroidManifest.xml
  app/src/main/java/me/pckv/kompisapp/data/ListingDataSource.java
  app/src/main/java/me/pckv/kompisapp/data/ListingRepository.java
  app/src/main/java/me/pckv/kompisapp/data/UsersDataSource.java
  app/src/main/java/me/pckv/kompisapp/data/model/Listing.java
  app/src/main/java/me/pckv/kompisapp/data/model/LoggedInUser.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingRecyclerViewAdapter.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModelFactory.java
  app/src/main/res/layout/activity_listing.xml
  app/src/main/res/values/strings.xml
Labels: activity, layout

#27 Use retrofit for API communication and generify common ViewModel methods
  app/build.gradle
  app/src/main/java/me/pckv/kompisapp/Endpoints.java
  app/src/main/java/me/pckv/kompisapp/data/DatalessResult.java
  app/src/main/java/me/pckv/kompisapp/data/HttpStatusException.java
  app/src/main/java/me/pckv/kompisapp/data/KompisService.java
  app/src/main/java/me/pckv/kompisapp/data/ListingDataSource.java
  app/src/main/java/me/pckv/kompisapp/data/ListingRepository.java
  app/src/main/java/me/pckv/kompisapp/data/Repository.java
  app/src/main/java/me/pckv/kompisapp/data/Result.java
  app/src/main/java/me/pckv/kompisapp/data/UsersDataSource.java
  app/src/main/java/me/pckv/kompisapp/data/UsersRepository.java
  app/src/main/java/me/pckv/kompisapp/ui/TaskResult.java
  app/src/main/java/me/pckv/kompisapp/ui/UiAsyncTask.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingResult.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingViewModelFactory.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsResult.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsViewModelFactory.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModelFactory.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserResult.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserViewModelFactory.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoggedInUserView.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginResult.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginViewModelFactory.java
Labels: enhancement

#28 Add swipe refresh for listings
  app/build.gradle
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsActivity.java
  app/src/main/res/layout/content_listings.xml
Labels: enhancement

#30 Refresh listings when a new listing is created
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingRecyclerViewAdapter.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsActivity.java
Labels: enhancement

#31 Save user token and add a logout button to toolbar
  app/src/main/AndroidManifest.xml
  app/src/main/java/me/pckv/kompisapp/MainActivity.java
  app/src/main/java/me/pckv/kompisapp/data/KompisService.java
  app/src/main/java/me/pckv/kompisapp/data/Repository.java
  app/src/main/java/me/pckv/kompisapp/data/model/LoggedInUser.java
  app/src/main/java/me/pckv/kompisapp/ui/UiAsyncTask.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginViewModel.java
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/menu/menu_listings.xml
  app/src/main/res/values/strings.xml
Labels: activity

#32 Add return type to void Call methods
  app/src/main/java/me/pckv/kompisapp/data/KompisService.java
Labels: bug

#33 Add data binding to single listing
  app/build.gradle
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingActivity.java
  app/src/main/res/layout/activity_listing.xml
Labels: activity

#38 Hide inactive listings and implement search field
  .idea/misc.xml
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/me/pckv/kompisapp/data/model/Listing.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingRecyclerViewAdapter.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsActivity.java
  app/src/main/res/menu/menu_listings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/searchable.xml
Labels: enhancement

#39 Implemented proper feedback for using switches in listing view
  app/src/main/java/me/pckv/kompisapp/data/Repository.java
  app/src/main/java/me/pckv/kompisapp/data/model/ServerException.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModel.java
  app/src/main/res/values/strings.xml
Labels: activity, enhancement

#40 Update the design of the app
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingRecyclerViewAdapter.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingActivity.java
  app/src/main/res/layout/activity_create_listing.xml
  app/src/main/res/layout/activity_create_user.xml
  app/src/main/res/layout/activity_listing.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/fragment_listing.xml
  app/src/main/res/values/strings.xml
Labels: layout

#41 Use lambdas when possible and simplify UiAsyncTask calls
  app/src/main/java/me/pckv/kompisapp/ui/UiAsyncTask.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginActivity.java
Labels: enhancement

#42 Implement form validation using data binding and create a generic class
  app/src/main/java/me/pckv/kompisapp/ui/FormValidator.java
  app/src/main/java/me/pckv/kompisapp/ui/UiAsyncTask.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingFormState.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserFormState.java
  app/src/main/java/me/pckv/kompisapp/ui/user/create/CreateUserViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginFormState.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginViewModel.java
  app/src/main/res/layout/activity_create_listing.xml
  app/src/main/res/layout/activity_create_user.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/values/strings.xml
Labels: activity, enhancement

#45 Add delete button for listings that you own
  app/src/main/AndroidManifest.xml
  app/src/main/java/me/pckv/kompisapp/data/KompisService.java
  app/src/main/java/me/pckv/kompisapp/data/Repository.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingRecyclerViewAdapter.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModelFactory.java
  app/src/main/res/layout/activity_listing.xml
  app/src/main/res/menu/menu_listing.xml
  app/src/main/res/values/strings.xml
Labels: activity, enhancement

#48 Dynamically update listing when interacted with using data binding
  app/src/main/java/me/pckv/kompisapp/data/Repository.java
  app/src/main/java/me/pckv/kompisapp/data/model/User.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModel.java
  app/src/main/res/layout/activity_listing.xml
Labels: enhancement

#46 Add location on listing
  .gitignore
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/me/pckv/kompisapp/data/Repository.java
  app/src/main/java/me/pckv/kompisapp/data/model/CreateListing.java
  app/src/main/java/me/pckv/kompisapp/data/model/Listing.java
  app/src/main/java/me/pckv/kompisapp/data/model/Location.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/create/CreateListingViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/list/ListingsActivity.java
  app/src/main/res/layout/activity_listing.xml
  app/src/main/res/layout/activity_listings.xml
  app/src/main/res/values/strings.xml
Labels: activity

#51 Implement Assignee class to store and show assignee location
  app/src/main/java/me/pckv/kompisapp/data/KompisService.java
  app/src/main/java/me/pckv/kompisapp/data/Repository.java
  app/src/main/java/me/pckv/kompisapp/data/model/Assignee.java
  app/src/main/java/me/pckv/kompisapp/data/model/Listing.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModel.java
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModelFactory.java
  app/src/main/res/layout/activity_listing.xml
Labels: activity, enhancement

#52 Assign switch has specific label when the owner unassignes someone else
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingViewModel.java
  app/src/main/res/layout/activity_listing.xml
  app/src/main/res/values/strings.xml
Labels: enhancement

#53 Implement firebase notifications
  .gitignore
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/me/pckv/kompisapp/data/KompisService.java
  app/src/main/java/me/pckv/kompisapp/data/Repository.java
  app/src/main/java/me/pckv/kompisapp/data/model/LoginUser.java
  app/src/main/java/me/pckv/kompisapp/service/NotificationService.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginActivity.java
  app/src/main/java/me/pckv/kompisapp/ui/user/login/LoginViewModel.java
  build.gradle
Labels: enhancement

#54 Better layout design
  app/src/main/java/me/pckv/kompisapp/ui/listing/view/ListingActivity.java
  app/src/main/res/layout/activity_create_listing.xml
  app/src/main/res/layout/activity_create_user.xml
  app/src/main/res/layout/activity_listing.xml
  app/src/main/res/layout/activity_listings.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/content_listings.xml
  app/src/main/res/layout/fragment_listing.xml
  app/src/main/res/mipmap-hdpi/pluss.png
  app/src/main/res/png/pluss.png
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: layout
